.array-container{
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 2em;
    display: inline-block;
    border: 2px solid #eac8af;
    box-shadow: 5px 5px 1px #5f939a;
    background-color: #5f939a;
}

.array-bar{
    width: 7px;
    display: inline-block;
    margin: 0 1px;
    background-color: #d8ac9c;
    border: 1px solid black;
    margin-left: 2px;
}


.btns{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}
.algo-btns{
    margin-left: 2em;
}

